<!--
  <section class="bg-gradient text-white space-lg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="media">
            <div class="media-body">
              <p class="h2">
                <i class="icon-info-with-circle"></i> We do not provide mining rental services or cloud mining
              </p>
              <span>You install the software on your own hardware and we manage the miners. </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
-->

<!--
<section class="bg-white">
  <div class="container">
    <div class="row justify-content-center text-center section-intro">
      <div class="col-12 col-md-9 col-lg-8">
        <span class="title-decorative">Features</span>
        <h2 class="display-4">Everything in one dashboard</h2>
        <span class="lead">Platform for <strong>deploying</strong> &amp; <strong>managing</strong> CPU miners</span>
      </div>
    </div>

    <ul class="row feature-list feature-list-sm">
      <li class="col-12 col-md-4">
        <a class="card">
          <img alt="Manage your miners" src="/assets/img/screenshots/11.png" class="img-fluid rounded" data-action="zoom" />
        </a>
        <h5>Deploy</h5>
        <p>Your miners in one dashboard, complete with charts and statistics.</p>
        <a href="https://dashboard.hostero.eu">Go to Dashboard &rsaquo;</a>
      </li>

      <li class="col-12 col-md-4">
        <a class="card">
          <img alt="Manage your nodes" src="/assets/img/screenshots/20.png" class="img-fluid rounded" data-action="zoom" />
        </a>
        <h5>Manage</h5>
        <p>Manage deployed nodes, check the status and logs, delete and re-deploy them.</p>
        <a href="https://bootstrap.hostero.eu">Go to Bootstrap &rsaquo;</a>
      </li>

      <li class="col-12 col-md-4">
        <a class="card">
          <img alt="Staking" src="/assets/img/screenshots/15.png" class="img-fluid rounded" data-action="zoom" />
        </a>
        <h5>Monitor</h5>
        <p>Deploy a Proof of Stake (POS) miner, track status and view logs.</p>
        <a href="https://staking.hostero.eu">Go to Staking &rsaquo;</a>
      </li>
    </ul>
  </div>
</section>
-->

<!--
<section class="bg-white">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-12 col-md-6 col-lg-5 text-center text-md-left section-intro">
        <span class="title-decorative">Remote Web Console</span>
        <h3 class="h1">Dashboard App</h3>
        <span class="lead">
          <p><strong>Manage</strong> and <strong>monitor</strong> your devices &amp; miners performance, health, with real-time and historical stats.</p>
          <p>All the features you need, in one dashboard.</p>
        </span>
        <br />
        <a href="https://dashboard.hostero.eu" target="_blank">Manage Miners &rsaquo;</a>
      </div>

      <div class="col-8 col-md-6 col-lg-4">
        <img alt="Miner Dashboard" src="/assets/img/screenshots/25.png" class="img-fluid box-shadow" data-action="zoom" />
      </div>
    </div>
  </div>
</section>
-->
