<section class="space-xs text-center bg-gradient text-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <i class="mr-1 icon-info-with-circle"></i>
        <span class="mr-2">We are happy to announce we integrated <a target="_blank" href="http://myriadcoin.org" data-toggle="tooltip" data-placement="top" title="Open in new tab">Myriad <i class="icon-popup"></i></a> into Hostero.</span>
        <a href="https://dashboard.hostero.eu" class="text-white">Start Mining Myriad &rsaquo;</a>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
