<section class="space-xs text-center bg-gradient text-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <i class="mr-1 icon-info-with-circle"></i>
        <span class="mr-2">You can now mine WebDollar Proof-of-Stake with Hostero for free.</span>
        <a href="https://www.hostero.eu/docs/webdollar-pos-mining" class="text-white">Start Mining POS &rsaquo;</a>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
