<section class="space-xs text-center bg-gradient text-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <i class="mr-1 icon-info-with-circle"></i>
        <!--
        <span class="mr-2">We have released Bootstrap, a full node manager.</span>
        <a href="https://bootstrap.hostero.eu" class="text-white">Start managing your Nodes &rsaquo;</a>
        <span class="mr-2">We launched our blog. Read about what we do and crypto related articles.</span>
        <a href="https://blog.hostero.eu" class="text-white">Go to Blog &rsaquo;</a>
        -->
        <span class="mr-2">Thank you for your support! You can take a look at our new startup.</span>
        <a href="https://www.getsite.ai" class="text-white">Get a beautiful microsite for your small business &rsaquo;</a>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
