<section class="space-xs text-center bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <i class="mr-1 icon-info-with-circle"></i>
        <span class="mr-2">We use cookies to give you the best experience on our website. If you continue to use this site we will assume that you are happy with it.</span>
        <a href="javascript:createCookie('cookie_notice', true, 365);location.reload()" class="text-white">Close</a>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
