<section class="bg-gradient p-0 text-white">
  <svg class="decorative-divider" preserveAspectRatio="none" viewbox=" 0 0 100 100">
    <polygon fill="#F8F9FB" points="0 0 100 0 100 100"></polygon>
  </svg>
  <div class="container space-lg">
    <div class="row text-center">
      <div class="col">
        <h3 class="h1">Still not convinced? Try our demo</h3>
        <h5>Email: <strong>demo@hostero.eu</strong></h5>
        <h5>Password: <strong>demodemo</strong></h5>
        <br />
        <a href="#" class="btn btn-lg btn-light" target="_blank">Go to demo</a>
      </div>
    </div>
  </div>
</section>
