<footer class="bg-gray text-light footer-long">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <img alt="Image" src="assets/img/hostero_logo_white.png" class="mb-4" height="100" />
        <p class="text-muted">
          &copy; 2019 Hostero
        </p>
      </div>

      <div class="col-12 col-md-9">
        <span class="h5">Mining software for CPU mineable cryptocurrencies</span>
        <div class="row no-gutters">
          <div class="col-6 col-lg-3">
            <h6>Navigate</h6>
            <ul class="list-unstyled">
              <li>
                <a href="/">Overview</a>
              </li>
              <li>
                <a href="/getting-started">Getting Started</a>
              </li>
              <li>
                <a href="/changelog">Change Log</a>
              </li>
            </ul>
          </div>

          <div class="col-6 col-lg-3">
            <h6>Platform</h6>
            <ul class="list-unstyled">
              <li>
                <a href="https://dashboard.hostero.eu">Dashboard</a>
              </li>
              <li>
                <a href="/cpu-mineable-coins">CPU Mineable Coins</a>
              </li>
              <li>
                <a href="https://status.hostero.eu" target="_blank">Service Status</a>
              </li>
            </ul>
          </div>

          <div class="col-6 col-lg-3">
            <h6>Community</h6>
            <ul class="list-unstyled">
              <li>
                <a href="mailto:hosteroeu@gmail.com">Contact</a>
              </li>
              <li>
                <a href="https://t.me/hosteroeu" target="_blank">Telegram</a>
              </li>
              <li>
                <a href="https://twitter.com/hosteroeu" target="_blank">Twitter</a>
              </li>
              <li>
                <a href="https://www.facebook.com/hostero" target="_blank">Facebook</a>
              </li>
            </ul>
          </div>

          <div class="col-6 col-lg-3">
            <h6>Tools</h6>
            <ul class="list-unstyled">
              <li>
                <a href="http://nodes.wd.hostero.eu" target="_blank">Full Nodes Monitor</a>
              </li>
              <li>
                <a href="https://calculator.wd.hostero.eu" target="_blank">Mining Reward Calculator</a>
              </li>
              <li>
                <a href="https://hash.wd.hostero.eu/dashboard/db/webdollar-global-hashing-power" target="_blank">Statistics Dashboard</a>
              </li>
              <li>
                <a href="http://data.hoste.ro/builds" target="_blank">Packaged Miners</a>
              </li>
              <li>
                <a href="http://data.hoste.ro/docs" target="_blank">Code Documentation</a>
              </li>
            </ul>
          </div>
          <!--
            <div class="col-6 col-lg-3">
              <h6>Company</h6>
              <ul class="list-unstyled">
                <li>
                  <a href="#">About company</a>
                </li>
                <li>
                  <a href="#">History</a>
                </li>
                <li>
                  <a href="#">Team</a>
                </li>
                <li>
                  <a href="#">Investment</a>
                </li>
              </ul>
            </div>
            -->
        </div>
      </div>
    </div>
  </div>
</footer>
