<footer class="footer-short">
  <div class="container">
    <hr>
    <nav class="row justify-content-between align-items-center">
      <div class="col-auto">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="/">
                <img alt="Logo" src="/assets/img/hostero_logo_black_small.png" height="30" />
            </a>
          </li>
          <li class="list-inline-item">
            <a href="/getting-started">Getting Started</a>
          </li>
          <li class="list-inline-item">
            <a href="/cpu-mineable-coins">CPU Mineable Coins</a>
          </li>
        </ul>
      </div>
      <!--end of col-->
      <div class="col-auto text-sm-right">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://twitter.com/hosteroeu" target="_blank"><i class="socicon-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/hostero" target="_blank"><i class="socicon-facebook"></i></a>
          </li>
        </ul>
      </div>
      <!--end of col-->
    </nav>
    <!--end of row-->
    <div class="row">
      <div class="col">
        <center>
        <small>Hostero is a coin mining, monitoring, and stats service. Hostero does not research or recommend any coin. Do your own research and invest at your own risk.<br /><br />&copy; 2019 Hostero All Rights Reserved.
        </small>
        </center>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</footer>
