<section id="plans">
  <div class="container">
    <div class="row justify-content-center text-center section-intro">
      <div class="col-12 col-md-9 col-lg-8">
        <span class="title-decorative">One miner for free</span>
        <h2 class="display-4">One for free, Pay for more</h2>
        <span class="lead">There is a wide range of subscriptions. <a href="mailto:hosteroeu@gmail.com">Contact</a> us for more.</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card pricing card-lg">
          <div class="card-body">
            <h5>Hobby</h5>
            <span class="display-3 price-collapse collapse show">1.99 &euro;</span>
            <span class="text-small">per month</span>
            <span class="h6">Includes:</span>
            <ul class="list-unstyled">
              <li>
                5 Miners
              </li>
              <li>
                E-mail Support
              </li>
            </ul>
            <a href="https://dashboard.hostero.eu" class="btn btn-lg btn-outline-primary">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card pricing card-lg">
          <div class="card-body">
            <h5>Miner</h5>
            <span class="display-3">9.99 &euro;</span>
            <span class="text-small">per month</span>
            <span class="h6">Includes:</span>
            <ul class="list-unstyled">
              <li>
                20 Miners
              </li>
              <li>
                E-mail Support
              </li>
            </ul>
            <a href="https://dashboard.hostero.eu" class="btn btn-lg btn-success">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card pricing card-lg">
          <div class="card-body">
            <h5>Farm</h5>
            <span class="display-3">49.99 &euro;</span>
            <span class="text-small">per month</span>
            <span class="h6">Includes:</span>
            <ul class="list-unstyled">
              <li>
                100 Miners
              </li>
              <li>
                E-mail/Telegram Support
              </li>
            </ul>
            <a href="https://dashboard.hostero.eu" class="btn btn-lg btn-outline-primary">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
