<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">

<script type="text/javascript" src="/assets/js/minified.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128907941-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-128907941-1');
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Blog",
    "url": "https://medium.com/@morion4000"
  }
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Hostero",
    "url": "https://www.hostero.eu",
    "sameAs": [
      "https://www.facebook.com/hostero",
      "https://twitter.com/hosteroeu"
    ]
  }
</script>
