<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">

<script type="text/javascript" src="/assets/js/minified.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128907941-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-128907941-1');
</script>
<script id="mcjs">
  ! function(c, h, i, m, p) {
    m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p)
  }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/adc2550dafa8447f3999bd3af/0ad3b7575910918705b3720c0.js");
</script>
