<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">

<script type="text/javascript" src="/assets/js/minified.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128907941-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-128907941-1');
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Blog",
    "url": "https://medium.com/@morion4000"
  }
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Hostero",
    "url": "https://www.hostero.eu",
    "logo": "https://www.hostero.eu/assets/img/hostero_logo_black_padded.png",
    "foundingDate": "2018",
    "founders": [{
      "@type": "Person",
      "name": "Ionut Moraru"
    }],
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "St Migdalului",
      "addressLocality": "Drobeta-Turnu Severin",
      "addressRegion": "MH",
      "postalCode": "220065",
      "addressCountry": "Romania"
    },
    "contactPoint": {
      "@type": "ContactPoint",
      "contactType": "customer support",
      "email": "hosteroeu@gmail.com"
    },
    "sameAs": [
      "https://www.facebook.com/hostero",
      "https://www.twitter.com/hosteroeu",
      "https://www.linkedin.com/company/hostero",
      "https://github.com/hosteroeu",
      "https://medium.com/@hostero",
      "https://www.youtube.com/channel/UC14WmOUaq09kGxzKtdgNVKA",
      "https://www.crunchbase.com/organization/hostero",
      "https://www.angel.co/hostero",
      "https://www.betapage.co/startup/hostero"
    ]
  }
</script>

<script type="text/javascript">
  $(function() {
    var clipboard = new ClipboardJS('.btn');

    toastr.options = {
      "progressBar": true,
      "positionClass": "toast-bottom-right",
    }

    clipboard.on('success', function(e) {
      toastr.success('Copied to clipboard')
    });

    clipboard.on('error', function(e) {
      toastr.error('Error copying to clipboard')
    });
  });
</script>
