<section class="space-sm">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-auto text-center">
        <span class="h1 mb-0">1 Minute</span>
        <span>Average installation time</span>
      </div>
      <!--end of col-->
      <div class="col-auto text-center">
        <span class="h1 mb-0">10</span>
        <span>Cryptocurrencies you can mine</span>
      </div>
      <!--end of col-->
      <div class="col-auto text-center">
        <span class="h1 mb-0">0.2 &euro;</span>
        <span>Cost / miner / month</span>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<!--end of section-->
