<section class="bg-white">
  <div class="container">
    <div class="row section-intro">
      <div class="col text-center">
        <h3 class="h1">Get the latest news about mining</h3>
      </div>
    </div>

    <form action="https://hostero.us19.list-manage.com/subscribe/post?u=adc2550dafa8447f3999bd3af&amp;id=d38cf14ff9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-7">
          <div class="form-group">
            <input type="email" value="" name="EMAIL" class="form-control form-control-lg" id="mce-EMAIL" placeholder="Email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_adc2550dafa8447f3999bd3af_d38cf14ff9" tabindex="-1" value="">
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-block btn-success">
          </div>
        </div>
        <div class="col-1">
        </div>
      </div>
    </form>
  </div>
</section>
