<!doctype html>
<html lang="en">

<head>
  {{> partials/head }}
</head>

<body>
  {{> partials/header }}

  <div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="text-white position-absolute">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Changelog</li>
            </ol>
          </div>
        </div>
      </div>
    </nav>
    <section class="bg-primary text-light p-0">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="space-lg pb-0">
              <h1 class="display-4">Changelog</h1>
              <span class="lead">
                What's new in the latest version of Hostero.
              </span>
            </div>
          </div>
        </div>
      </div>
      <svg class="decorative-divider" preserveAspectRatio="none" viewbox="0 0 100 100">
        <polygon fill="#F8F9FB" points="0 100 100 100 100 0"></polygon>
      </svg>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-2 mb-5">
            <nav class="nav flex-md-column">
              <a href="/changelog" class="active nav-link">Changelog <span class="badge badge-secondary">v1</span></a>
              <a href="/getting-started" class="nav-link">Getting Started</a>
            </nav>
            <hr class="short">
            <nav class="nav flex-md-column mb-2">
              <a href="/docs/install-on-ubuntu" class="nav-link">Install on Ubuntu</a>
              <a href="/docs/install-on-windows" class="nav-link">Install on Windows</a>
              <a href="/docs/install-on-macos" class="nav-link">Install on MacOS</a>
              <a href="/docs/purchase-webdollar" class="nav-link">Purchase WebDollar</a>
            </nav>
          </div>
          <div class="col-12 col-md-8">
            <article id="101">
              <h3>
              <code>v1</code> - Version 1
              </h3>
              <div>
                <ul>
                  <li>Dual Mining for WebDollar</li>
                  <li>Support for GlobalBoost-Y coin</li>
                  <li>Support for Yenten coin</li>
                  <li>Support for Myriad coin</li>
                  <li>Support for Credits coin</li>
                  <li>Support for <a target="_blank" href="https://veruscoin.io" data-toggle="tooltip" data-placement="top" title="Open in new tab">VerusCoin miner <i class="icon-popup"></i></a></li>
                  <li>Support for <a target="_blank" href="https://webchain.network" data-toggle="tooltip" data-placement="top" title="Open in new tab">WebChain miner <i class="icon-popup"></i></a></li>
                  <li>Support for <a target="_blank" href="https://getnerva.org" data-toggle="tooltip" data-placement="top" title="Open in new tab">Nerva miner <i class="icon-popup"></i></a></li>
                  <li>Payments with WebDollar</li>
                  <li>Payments with PayPal</li>
                  <li>Directory with CPU Mineable Coins</li>
                  <li>Billing</li>
                  <li>Service Status</li>
                  <li>Presentation website</li>
                  <li>Support procedures</li>
                  <li>Tutorials and documentation</li>
                  <li>Multiple cryptocurrencies support</li>
                  <li>Additional statistics and metrics collected and displayed</li>
                  <li>Activity system</li>
                  <li>Email notifications</li>
                </ul>
              </div>
            </article>

            <article id="100">
              <h3>
              <code>Beta</code> - Initial Release
              </h3>
              <div>
                <ul>
                  <li>Host installation</li>
                  <li>Miner deployment</li>
                  <li>Support for <a target="_blank" href="https://webdollar.io" data-toggle="tooltip" data-placement="top" title="Open in new tab">WebDollar miner <i class="icon-popup"></i></a></li>
                  <li>Integration with <a target="_blank" href="https://webdollarminingpool.com" data-toggle="tooltip" data-placement="top" title="Open in new tab">WMP <i class="icon-popup"></i></a></li>
                  <li>Automatic deployment for miners</li>
                  <li>Re-deploy all and individual miners</li>
                  <li>Hosts and miners removal</li>
                  <li>Global settings</li>
                  <li>Real-time logs for miners</li>
                  <li>Real-time CPU consumption for miners and hosts</li>
                  <li>Global dashboard</li>
                </ul>
              </div>
            </article>
          </div>
          <div class="col">
            <nav id="nav-components" class="nav flex-md-column" data-sticky="below-nav">
              <a data-smooth-scroll href="#101" class="nav-link text-small">v1</a>
              <a data-smooth-scroll href="#100" class="nav-link text-small">Beta</a>
            </nav>
          </div>
        </div>
      </div>
    </section>

    {{> partials/start_mining }}
    {{> partials/subscribe }}
    {{> partials/footer }}
  </div>

  {{> partials/scripts }}
</body>

</html>
