<!doctype html>
<html lang="en">

<head>
  {{> partials/head }}
</head>

<body>
  {{> partials/header }}

  <div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <a href="/cpu-mineable-coins">CPU Mineable Coins</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">{{coin.name}}</li>
            </ol>
          </div>
        </div>
      </div>
    </nav>

    <section class="bg-white">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-auto order-md-2 mb-4">
            {{#coin.website_url}}
            <div class="dropdown">
              <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Resources
                  <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm">
                <a class="dropdown-item" href="{{{coin.website_url}}}" target="_blank">Website</a>
                <div class="dropdown-divider"></div>
                {{#coin.explorer_url}}
                <a class="dropdown-item" href="{{{coin.explorer_url}}}" target="_blank">Explorer</a> {{/coin.explorer_url}} {{#coin.exchange_url}}
                <a class="dropdown-item" href="{{{coin.exchange_url}}}" target="_blank">Exchange</a> {{/coin.exchange_url}} {{#coin.statistics_url}}
                <a class="dropdown-item" href="{{{coin.statistics_url}}}" target="_blank">Statistics</a> {{/coin.statistics_url}} {{#coin.calculator_url}}
                <a class="dropdown-item" href="{{{coin.calculator_url}}}" target="_blank">Calculator</a> {{/coin.calculator_url}} {{#coin.mining_pools_url}}
                <a class="dropdown-item" href="{{{coin.mining_pools_url}}}" target="_blank">Mining Pools</a> {{/coin.mining_pools_url}}
              </div>
            </div>
            {{/coin.website_url}}
          </div>
          <!--end of col-->
          <div class="col order-md-1">
            <h1 class="mb-0">
              <strong>{{coin.name}}</strong> Miner
            </h1>
            <br />
            <span class="h6 mb-0">
              {{coin.description}}
              {{#coin.cmc_url}}
              (<a href="{{{coin.cmc_url}}}" target="_blank">{{coin.short_name}}</a>)
              {{/coin.cmc_url}}
              {{^coin.cmc_url}}({{coin.short_name}}){{/coin.cmc_url}}
            </span>
            <div class="media align-items-center my-3">
              <img alt="Coin logo" src="{{{coin.logo_url}}}" class="avatar avatar-sm mr-3">

              <div class="media-body">
                <span class="text-small">Algo(s): {{coin.algorithm}}</span><br />
                <span class="text-small">Liquidity Score: {{coin.liquidity_score}}</span><br />
                {{#coin.miner_link}}
                <span class="text-small">Miner: <a href="{{{coin.miner_link}}}" target="_blank">{{coin.miner_name}}</a></span>
                {{/coin.miner_link}}
              </div>
            </div>
            <div class="d-flex align-items-center">
              <ul class="list-inline">
                {{#coin.cpu_only}}
                <li class="list-inline-item">
                  <span class="badge badge-secondary">CPU Only</span>
                </li>
                {{/coin.cpu_only}} {{#coin.fixed_supply}}
                <li class="list-inline-item">
                  <span class="badge badge-info">Fixed Supply</span>
                </li>
                {{/coin.fixed_supply}}
                {{#coin.hybrid}}
                <li class="list-inline-item">
                  <span class="badge badge-warning">Hybrid</span>
                </li>
                {{/coin.hybrid}}
              </ul>
            </div>
          </div>
          <!--end of col-->
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
    <!--end of section-->

    {{#coin.removed}}
    <section class="height-70">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-5">
            <div class="card card-lg text-center">
              <div class="card-body">
                <i class="icon-squared-cross display-4 opacity-20"></i>
                <h1 class="h5">{{coin.name}} has been removed</h1>
                <p>
                  The project does not comply with the terms of service.
                </p>
                <a href="mailto:hello@hostero.eu" class="btn btn-lg btn-primary">Contact support</a>
              </div>
            </div>
          </div>
          <!--end of col-->
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
    <!--end of section-->
    {{/coin.removed}}

    {{^coin.removed}}
    {{^coin.on_hostero}}
    <section class="height-70">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-5">
            <div class="card card-lg text-center">
              <div class="card-body">
                <i class="icon-add-to-list display-4 opacity-20"></i>
                <h1 class="h5"><strong>{{coin.name}}</strong> is not yet on Hostero</h1>
                <p>
                  Benchmarks and mining are going to be available when the coin is integrated.
                </p>
                <!--<a href="#"  class="btn btn-lg btn-primary">Create something</a>-->
              </div>
            </div>
          </div>
          <!--end of col-->
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
    <!--end of section-->
    {{/coin.on_hostero}}
    {{/coin.removed}}

    {{#coin.on_hostero}}
    <section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-5">
            <div class="card card-lg text-center">
              <div class="card-body">
                <i class="icon-download display-4 opacity-20"></i>
                <h1 class="h5">Mine <strong>{{coin.name}}</strong></h1>
                <p>
                  Run the {{coin.name}} miner in 1 minute. No advanced skills required.
                </p>
                <a href="https://dashboard.hostero.eu" class="btn btn-lg btn-primary">Start Mining</a>
              </div>
            </div>
          </div>
          <!--end of col-->
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>

    <section>
      <div class="container">
        <h3><strong>{{coin.name}}</strong> Benchmarks</h3>
        <div class="row">
          <div class="col">
            <table class="table table-hover align-items-center table-borderless">
              <thead>
                <tr>
                  <th scope="col">CPU Model</th>
                  <th scope="col">Hashrate (H/s)</th>
                  <th scope="col">Threads/Cores</th>
                  <th scope="col">OS</th>
                  <th scope="col">Est. 24h Reward</th>
                </tr>
              </thead>
              <tbody>
                {{#benchmarks}}
                <tr class="bg-white">
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        {{cpu_model}}
                      </div>
                    </div>
                  </th>
                  <td>{{power}}</td>
                  <td>{{threads}}/{{cpu_count}}</td>
                  <td>{{os}}</td>
                  {{#reward_24h_eur}}
                  <td>{{reward_24h_eur}} &euro;</td>
                  {{/reward_24h_eur}}
                  {{^reward_24h_eur}}
                  <td>-</td>
                  {{/reward_24h_eur}}
                </tr>
                <tr class="table-divider"></tr>
                {{/benchmarks}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    {{/coin.on_hostero}}

    {{#coin.description_extra}}
    <section>
      <div class="container">
        <h3><strong>{{coin.name}}</strong> Description</h3>
        <div class="card box-shadow">
          <div class="card-body">
            <span>{{{coin.description_extra}}}</span>
          </div>
        </div>
      </div>
    </section>
    {{/coin.description_extra}}

    {{> partials/footer_small }}
  </div>

  {{> partials/scripts }}
</body>

</html>
