<!doctype html>
<html lang="en">

<head>
  {{> partials/head }}
</head>

<body>
  {{> partials/header }}

  <div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="text-white position-absolute">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item">Docs</li>
              <li class="breadcrumb-item active" aria-current="page">Install on Ubuntu</li>
            </ol>
          </div>
        </div>
      </div>
    </nav>

    <section class="bg-primary text-light p-0">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="space-lg pb-0">
              <h1 class="display-4">Install on Ubuntu</h1>
              <span class="lead">
                Guide for installing the CPU Miner on Ubuntu.
              </span>
            </div>
          </div>
        </div>
      </div>
      <svg class="decorative-divider" preserveAspectRatio="none" viewbox="0 0 100 100">
        <polygon fill="#F8F9FB" points="0 100 100 100 100 0"></polygon>
      </svg>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-2 mb-5">
            <nav class="nav flex-md-column">
              <a href="/changelog" class="nav-link">Changelog <span class="badge badge-secondary">v1</span></a>
              <a href="/getting-started" class="nav-link">Getting Started</a>
            </nav>
            <hr class="short">
            <nav class="nav flex-md-column mb-2">
              <a href="/docs/install-on-ubuntu" class="active nav-link">Install on Ubuntu</a>
              <a href="/docs/install-on-windows" class="nav-link">Install on Windows</a>
              <a href="/docs/install-on-macos" class="nav-link">Install on MacOS</a>
              <a href="/docs/purchase-webdollar" class="nav-link">Purchase WebDollar</a>
              <a href="/docs/webdollar-pos-mining" class="nav-link">WebDollar POS Mining</a>
            </nav>
          </div>
          <div class="col-12 col-md-8">
            {{^account_id}}
              <article id="login">
                <div class="alert alert-warning" role="alert">
                  <h4 class="alert-heading">You are not logged in</h4>
                  <p>If you log in, the commands in this tutorial are specific to your account, otherwise you might have to take additional steps to install the CPU Miner.</p>
                  <hr />
                  <p class="mb-0">Go to <a href="https://dashboard.hostero.eu" target="_blank">Login</a> to get commands specific to your account.</p>
                </div>
              </article>
              <hr />
            {{/account_id}}

            <article id="requirements">
              <h3>Requirements</h3>
              <p>Please make sure your device meets all the following requirements:</p>
              <ul>
                <li>Internet connection</li>
                <li>Ubuntu 16.04 or 18.04</li>
                <li>Docker 17.06 (<a href="https://rancher.com/docs/rancher/v1.6/en/hosts/#supported-docker-versions" target="_blank">all supported versions</a>)</li>
                <li>4 GB Storage</li>
                <li>4 GB RAM</li>
              </ul>
            </article>

            <hr />

            <article id="instructions-beginner">
              <h3>Instructions (Beginner)</h3>
              <p>Hostero requires Docker to work. The installer will install Docker as well.</p>
              <div class="card bg-secondary">
                <div class="card-body">
                  <h6 class="title-decorative">Run this command in the Terminal:</h6>
                  {{#account_id}}
                  <dl class="row justfiy-content-between">
                    <code>curl https://www.hostero.eu/install?a=<strong>{{account_id}}</strong> | sudo sh</code>
                  </dl>
                  <button class="btn btn-outline-secondary btn-sm" data-clipboard-text="curl https://www.hostero.eu/install?a={{account_id}} | sudo sh">Copy to clipboard</button>
                  {{/account_id}}
                  {{^account_id}}
                  <dl class="row justfiy-content-between">
                    <code>curl https://www.hostero.eu/install | sudo sh</code>
                  </dl>
                  <button class="btn btn-outline-secondary btn-sm" data-clipboard-text="curl https://www.hostero.eu/install | sudo sh">Copy to clipboard</button>
                  {{/account_id}}
                </div>
              </div>
            </article>

            <hr />

            <article id="instructions-advanced">
              <h3>Instructions (Advanced)</h3>
              <p>Hostero requires Docker to work. We recommend to install Docker via our script, but you can install it using alternative ways as well (<a href="https://rancher.com/docs/rancher/v1.6/en/hosts/#supported-docker-versions" target="_blank">supported versions</a>).</p>
              <h4>1. Install Docker</h4>
              <h5>Ubuntu 16.04</h5>
              <div class="card bg-secondary">
                <div class="card-body">
                  <h6 class="title-decorative">Run this command in the Terminal:</h6>
                  <dl class="row justfiy-content-between">
                    <code>curl https://releases.rancher.com/install-docker/17.12.sh | sh</code>
                  </dl>
                  <button class="btn btn-outline-secondary btn-sm" data-clipboard-text="curl https://releases.rancher.com/install-docker/17.12.sh | sh">Copy to clipboard</button>
                </div>
              </div>

              <h5>Ubuntu 18.04</h5>
              <div class="card bg-secondary">
                <div class="card-body">
                  <h6 class="title-decorative">Run this command in the Terminal:</h6>
                  <dl class="row justfiy-content-between">
                    <code>curl https://releases.rancher.com/install-docker/18.06.sh | sh</code>
                  </dl>
                  <button class="btn btn-outline-secondary btn-sm" data-clipboard-text="curl https://releases.rancher.com/install-docker/18.06.sh | sh">Copy to clipboard</button>
                </div>
              </div>
              <div class="card bg-secondary">
                <div class="card-body">
                  <h6 class="title-decorative">Run this command in the Terminal:</h6>
                  <dl class="row justfiy-content-between">
                    <code>mkdir -p /etc/docker; echo '{"dns": ["8.8.8.8", "8.8.4.4"]}' > /etc/docker/daemon.json; service docker restart</code>
                  </dl>
                </div>
              </div>

              <h4>2. Install Hostero</h4>
              <div class="card bg-secondary">
                <div class="card-body">
                  <h6 class="title-decorative">Run this command in the Terminal:</h6>
                  {{#account_id}}
                  <dl class="row justfiy-content-between">
                    <code>docker run -e CATTLE_HOST_LABELS="account=<strong>{{account_id}}</strong>" --rm --privileged -v /var/run/docker.sock:/var/run/docker.sock -v /var/lib/rancher:/var/lib/rancher rancher/agent:v1.2.9 http://infra.hostero.eu:8080/v1/scripts/2E28C27EE87F5E1A6B7F:1514678400000:ShibdGaXFOlmN3QGGHj1UFuP1lU</code>
                  </dl>
                  <button class="btn btn-outline-secondary btn-sm" data-clipboard-text='docker run -e CATTLE_HOST_LABELS="account={{account_id}}" --rm --privileged -v /var/run/docker.sock:/var/run/docker.sock -v /var/lib/rancher:/var/lib/rancher rancher/agent:v1.2.9 http://infra.hostero.eu:8080/v1/scripts/2E28C27EE87F5E1A6B7F:1514678400000:ShibdGaXFOlmN3QGGHj1UFuP1lU'>Copy to clipboard</button>
                  {{/account_id}}
                  {{^account_id}}
                  <dl class="row justfiy-content-between">
                    <code>docker run -e CATTLE_HOST_LABELS="account=<strong>ACCOUNT_ID</strong>" --rm --privileged -v /var/run/docker.sock:/var/run/docker.sock -v /var/lib/rancher:/var/lib/rancher rancher/agent:v1.2.9 http://infra.hostero.eu:8080/v1/scripts/2E28C27EE87F5E1A6B7F:1514678400000:ShibdGaXFOlmN3QGGHj1UFuP1lU</code>
                  </dl>
                  <button class="btn btn-outline-secondary btn-sm" data-clipboard-text='docker run -e CATTLE_HOST_LABELS="account=ACCOUNT_ID" --rm --privileged -v /var/run/docker.sock:/var/run/docker.sock -v /var/lib/rancher:/var/lib/rancher rancher/agent:v1.2.9 http://infra.hostero.eu:8080/v1/scripts/2E28C27EE87F5E1A6B7F:1514678400000:ShibdGaXFOlmN3QGGHj1UFuP1lU'>Copy to clipboard</button>
                  {{/account_id}}
                </div>
              </div>

              {{^account_id}}
              <p><i>Important</i>: Replace <strong>ACCOUNT_ID</strong> with yours. You need to <a href="https://dashboard.hostero.eu" target="_blank">Login</a>.</p>
              {{/account_id}}
            </article>

            <hr />

            <article id="startup-script">
              <h3>Startup Script</h3>
              <p>Cloud providers have an option to set a startup script. The script will execute after the VPS is created, so you don't have to manually install it.</p>
              <div class="card bg-secondary">
                <div class="card-body">
                  <h6 class="title-decorative">Add this to the startup script:</h6>
                  {{#account_id}}
                  <dl class="row justfiy-content-between">
                    <code>#!/bin/bash<br />curl https://www.hostero.eu/install?a=<strong>{{account_id}}</strong> | sh</code>
                  </dl>
                  <button class="btn btn-outline-secondary btn-sm" data-clipboard-text='#!/bin/bash
curl https://www.hostero.eu/install?a={{account_id}} | sh'>Copy to clipboard</button>
                  {{/account_id}}
                  {{^account_id}}
                  <dl class="row justfiy-content-between">
                    <code>#!/bin/bash<br />curl https://www.hostero.eu/install?a=<strong>ACCOUNT_ID</strong> | sh</code>
                  </dl>
                  <button class="btn btn-outline-secondary btn-sm" data-clipboard-text='#!/bin/bash
curl https://www.hostero.eu/install?a=ACCOUNT_ID | sh'>Copy to clipboard</button>
                  {{/account_id}}
                  </dl>
                </div>
              </div>

              {{^account_id}}
              <p><i>Important</i>: Replace <strong>ACCOUNT_ID</strong> with yours. You need to <a href="https://dashboard.hostero.eu" target="_blank">Login</a>.</p>
              {{/account_id}}
            </article>

            <hr />

            <article id="video-tutorial">
              <h3>Video Tutorial (Deprecated)</h3>
              <iframe width="100%" height="400" src="https://www.youtube.com/embed/jk6y1-xdZk0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
          </div>
          <div class="col">
            <nav id="nav-components" class="nav flex-md-column" data-sticky="below-nav">
              <a data-smooth-scroll href="#requirements" class="nav-link text-small">Requirements</a>
              <a data-smooth-scroll href="#instructions-beginner" class="nav-link text-small">Instructions (Beginner)</a>
              <a data-smooth-scroll href="#instructions-advanced" class="nav-link text-small">Instructions (Advanced)</a>
              <a data-smooth-scroll href="#startup-script" class="nav-link text-small">Startup Script</a>
              <a data-smooth-scroll href="#video-tutorial" class="nav-link text-small">Video Tutorial</a>
            </nav>
          </div>
        </div>
      </div>
    </section>

    {{> partials/subscribe }} {{> partials/footer }}
  </div>

  {{> partials/scripts }}
</body>

</html>
