<!doctype html>
<html lang="en">

<head>
  {{> partials/head }}
</head>

<body>
  {{> partials/header }}

  <div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Open source</li>
            </ol>
          </div>
        </div>
      </div>
    </nav>

    <section>
      <div class="container">
        <h1>Open source software developed by Hostero</h1>
        <p>Most of the software is developed for the <a href="https://webdollar.io" target="_blank">WebDollar</a> ecosystem. We also open sourced the <a href="https://hub.docker.com/r/morion4000" target="_blank">Docker images</a> we use internaly.
        </p>
        <ul>
          <li>
            <h5>
              <a href="https://github.com/morion4000/webdollar-fallback-nodes" target="_blank">WebDollar Full Nodes Monitor</a>
            </h5>
          </li>
          <li>
            <h5>
              <a href="https://github.com/morion4000/webdollar-calculator" target="_blank">WebDollar Mining Reward Calculator</a>
            </h5>
          </li>
          <!--
          <li>
            <a href="http://data.hoste.ro/builds" target="_blank">Packaged Miners</a>
          </li>
          <li>
            <a href="http://data.hoste.ro/docs" target="_blank">Code Documentation</a>
          </li>
          -->
          <li>
            <h5>
              <a href="https://github.com/WebDollar/Node-WebDollar/wiki/Testnet" target="_blank">WebDollar Testnet</a>
            </h5>
          </li>
          <li>
            <h5>
              <a href="https://github.com/morion4000/telegram-tip-bot" target="_blank">WebDollar Telegram Tip Bot</a>
            </h5>
          </li>
          <li>
            <h5>
              <a href="https://github.com/morion4000/hostero-telegram-bot" target="_blank">Hostero Telegram Bot</a>
            </h5>
          </li>
        </ul>
      </div>
    </section>

    {{> partials/subscribe }}
    {{> partials/footer }}
  </div>

  {{> partials/scripts }}
</body>

</html>
