<!doctype html>
<html lang="en">

<head>
  {{> partials/head }}
</head>

<body>
  {{> partials/header }}

  <div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="text-white position-absolute">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item">Docs</li>
              <li class="breadcrumb-item active" aria-current="page">WebDollar POS Mining</li>
            </ol>
          </div>
        </div>
      </div>
    </nav>

    <section class="bg-primary text-light p-0">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="space-lg pb-0">
              <h1 class="display-4">WebDollar POS Mining</h1>
              <span class="lead">
                Guide for configuring the Proof-of-Stake miner for WebDollar.
              </span>
            </div>
          </div>
        </div>
      </div>
      <svg class="decorative-divider" preserveAspectRatio="none" viewbox="0 0 100 100">
        <polygon fill="#F8F9FB" points="0 100 100 100 100 0"></polygon>
      </svg>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-2 mb-5">
            <nav class="nav flex-md-column">
              <a href="/changelog" class="nav-link">Changelog <span class="badge badge-secondary">v1</span></a>
              <a href="/getting-started" class="nav-link">Getting Started</a>
            </nav>
            <hr class="short">
            <nav class="nav flex-md-column mb-2">
              <a href="/docs/install-on-ubuntu" class="nav-link">Install on Ubuntu</a>
              <a href="/docs/install-on-windows" class="nav-link">Install on Windows</a>
              <a href="/docs/install-on-macos" class="nav-link">Install on MacOS</a>
              <a href="/docs/purchase-webdollar" class="nav-link">Purchase WebDollar</a>
              <a href="/docs/webdollar-pos-mining" class="active nav-link">WebDollar POS Mining</a>
            </nav>
          </div>
          <div class="col-12 col-md-8">
            <article id="instructions">
              <h3>Instructions</h3>
              <p>You need to have an account to mine POS with WebDollar. If you don't already have one, go to <a href="https://dashboard.hostero.eu" target="_blank">Sign Up</a>.</p>

              <h4>1. Go to Devices</h4>
              <p>Go to <a href="https://dashboard.hostero.eu" target="_blank">Devices</a> and locate the <strong>WebDollar POS</strong> device.</p>

              <h4>2. Deploy Miner</h4>
              <p>Click on the <strong>+</strong> (plus) button, on the right side of the device, and enter your <a href="https://www.webdollar.io" target="_blank">WebDollar.io</a> wallet, then click <strong>Deploy</strong>.</p>

              <br />

              <img src="/assets/gif/deploy_webdollar_pos.gif" />
            </article>

            <hr />

            <article id="video-tutorial">
              <h3>Video Tutorial</h3>
              <iframe width="100%" height="400" src="https://www.youtube.com/embed/RmXccJGKeAA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
          </div>
          <div class="col">
            <nav id="nav-components" class="nav flex-md-column" data-sticky="below-nav">
              <a data-smooth-scroll href="#instructions" class="nav-link text-small">Instructions</a>
              <a data-smooth-scroll href="#video-tutorial" class="nav-link text-small">Video Tutorial</a>
            </nav>
          </div>
        </div>
      </div>
    </section>

    {{> partials/subscribe }} {{> partials/footer }}
  </div>

  {{> partials/scripts }}
</body>

</html>
